body{
    background: url(/assets/img/backgroundreg.svg);
}

/* dashboard styling */
/* dashboard styling */
.right-panel{
    background-color: #bfe3ce;
}

/* end dashboard styling */
#index{
    background: url(/assets/img/pexels-andrea-piacquadio-3756679.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
