.forms{
    background: url(/assets/img/backgroundreg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form-floating, .form-control{
    background-color: #31572c5d;
    color: white;
    font-weight: bold;
}
#grid{
    background-color: #96b85d;
    border-radius: .3rem;
}
#grid:hover{
    background-color: #132A13;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
}