.forms{
    background: url(/assets/img/backgroundreg.svg);
<<<<<<< HEAD
    background-size: cover;
    background-repeat: no-repeat;
}
.form-floating, .form-control{
    background-color: #31572c5d;
    color: white;
    font-weight: bold;
}
#grid{
    background-color: #96b85d;
    border-radius: .3rem;
}
#grid:hover{
    background-color: #132A13;
    border-radius: .3rem;
    color: white;
    font-weight: bold;
}
=======
}

/* dashboard styling */
/* dashboard styling */
.right-panel{
    background-color: #bfe3ce;
}

/* end dashboard styling */
#index{
    background: url(/assets/img/pexels-andrea-piacquadio-3756679.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
>>>>>>> dc6cb4aa4487f6bdcf0a9ecad0c5d9debb60d913
